/* RegistroClientes.css */
@media (max-width: 1168px) {
    .custom-grid {
      display: block;
    }
    .custom-col {
      margin-bottom: 20px; /* Espacio entre columnas en dispositivos móviles */
    }
    .custom-col-buttons {
      display: flex;
      justify-content: space-between;
    }
  }
  