@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
}

.background-image {
    background-color: white;
    background-size: cover !important;
    background-position: center !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: -1 !important;
    
  }
