@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px !important;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:white;
  min-height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
body {
  font-family: 'Poppins', sans-serif;
}

/* para textos */
.color-blanco{
  color: #ffffff;
}
.color-azul{
  color: #084788;
}
.color-naranja{
  color: #fc6b03;
}
.sombreado-gris{
  background-color: #e1e7f0;
}
.sombreado-gris-oscuro{
  background-color:  #e4e6eb;
  padding: 5px;
}

.sombreado-verde{
  background-color: #bafdcf;
}
/* para compontentes */
.naranja-btn{
  background-color: #fc6b03;
  color: white;
}
.azul-btn{
  background-color: #233245;
  color: white;
}
.pointer{
  cursor: pointer;
}
.naranjabackgroud{
  background-color: #fc6b03;
}

.azuloscurobackground{
  background-color: #233245;
}
.tamañouno{
  font-size: 13px;
}