.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo img {
    height: 40px;
    width: auto;
  }
  
  .navbar-toggle {
    cursor: pointer;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  .navbar-links-movil{
    display: none;
  }
  .navbar-links.show {
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #084788;
  }
  
  .navbar-welcome p {
    color: #084788;
  }